/*****************************************************************************************/
/* NAV SECTION */
/*****************************************************************************************/
.navbar {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.4rem;
  padding: 1.8rem 12.8rem;
  background-color: #fff;
  color: #6e6e6e;
  width: 100vw;
  width: 100svw;
  top: 0;
  z-index: 5;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  color: #a61e4d;
  font-family: "M PLUS Rounded 1c", sans-serif;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  text-wrap: nowrap;
  font-size: 2.4rem;
  font-weight: 800;
  padding: 1.6rem 2.4rem;
  border-radius: 10rem;
  transition: all 0.15s;
}

.navbar-logo span {
  font-family: "DM Serif Text";
  color: #e64980;
}

.logo-img-lookuphotel {
  width: 3rem;
  height: auto;
}

.navbar-logo:hover {
  background-color: #fff0f6;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1.6rem;
}

.nav-link {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.6rem;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.8rem;
  padding: 1.8rem 2rem;
  border-radius: 10rem;
  transition: all 0.15s;
}

.nav-link:hover,
.nav-link:active {
  color: #272326;
  background-color: #fff0f6;
}

.home-link {
  color: #272326;
  background-color: #fff0f6;
}

/* title User Inter */
.user-inter {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  column-gap: 2.4rem;

  align-items: center;
  justify-items: end;
}

/* Langauge Popup */
.lan-popup-section {
  position: relative;
}

.globe-lan-icon {
  width: 3.4rem;
  height: 3.4rem;
  transition: all 0.15s;
  cursor: pointer;
}

.globe-lan-icon:hover,
.globe-lan-icon:active {
  color: #2e2e2e;
}

.lan-popup {
  list-style: none;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0 3rem rgb(0, 0, 0, 0.1);

  position: absolute;
  right: 0;
  bottom: -1.45rem;
  transform: translateY(100%);
  z-index: 15;
}

.lan-popup li {
  font-size: 2rem;
  font-weight: 400;
  padding: 1.2rem 3.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  cursor: pointer;

  transition: all 0.15s;
}

.lan-popup li:hover,
.lan-popup li:active {
  background-color: #f1f1f1;
  font-weight: 500;
  color: #4e4e4e;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.lan-popup li span {
  width: 2rem;
}

.flag-lan {
  width: 3rem;
  height: auto;

  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

/* Dropdown Login */
.user-login {
  cursor: pointer;
  position: relative;
  justify-self: flex-end;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 0.8rem 2rem;
  border-radius: 10rem;
  border: 1px solid #ddd;

  transition: all 0.15s;
  z-index: 15;
}

.user-login:hover {
  color: #4e4e4e;
  background-color: #f7f7f7;
}

.user-login-icon {
  width: 3rem;
  height: 3rem;
}

.user-login-dropdown {
  position: absolute;
  right: 0;
  bottom: -1rem;
  transform: translateY(100%);

  list-style: none;
  background-color: #fff;
  box-shadow: 0 0 3rem rgb(0, 0, 0, 0.1);
  padding: 0.8rem 0;
  border-radius: 1rem;
  width: 20rem;
  overflow: hidden;

  z-index: 15;
}

.user-login-dropdown a {
  display: block;
  font-size: 1.8rem;
  padding: 1.4rem 2rem;
  text-wrap: nowrap;

  transition: all 0.15s ease-in;
  position: relative;
}

.user-login-dropdown li:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;

  transition: all 0.15s ease-in;
  position: relative;
}

.dropdown-link:hover,
.dropdown-link:active {
  background-color: #f7f7f7;
  font-weight: 600;
  border-left: 1rem solid #ddd;
}

.social-icon {
  font-size: 2.2rem;
}

.dropdown-social:link,
.dropdown-social:visited {
  transition: all 0.15s;
}

.dropdown-social:hover,
.dropdown-social:active {
  background-color: #f2f2f2;
  color: #2e2e2e;
  border-radius: 1rem;
  border: none;
}

.user-login-dropdown::after {
  content: "";
  position: absolute;
  top: 33%;

  width: 100%;
  padding: 0.1rem 0;
  background-color: #ddd;
}

.sign-in-dropdown:link,
.sign-in-dropdown:visited {
  font-weight: 600;
  color: #2e2e2e;
  background-color: #fcc2d7;
}

.sign-in-dropdown:hover,
.sign-in-dropdown:active {
  border-left: 1rem solid #272326;
  background-color: #faa2c1;
}

/* Menu Mobile */
.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.icon-mobile-menu {
  font-size: 4.4rem;
  color: #4e4e4e;

  transition: all 0.15s;
  display: none;
}

.icon-mobile-menu:hover,
.icon-mobile-menu:active {
  color: #2e2e2e;
}

.open-mobile-menu {
  cursor: pointer;
}

.close-mobile-menu {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*****************************************************************************************/
/* HERO SECTION */
/*****************************************************************************************/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  min-height: 85svh;

  /* Background Image */
  background-image: url("/landing-page/img/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #fff;
  text-align: center;
  padding: 0 2rem;

  position: relative;
}

/* Bluring */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5rem);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  width: 90rem; /* Determines the hero width */
  max-width: 95svw; /* Determines the hero width */
}

.hero-title {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-size: 8.6rem;
  color: #fff;
  margin-bottom: 1.2rem;
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  line-height: 1.2;
}

.hero-title span:nth-child(1) {
  color: #a61e4d;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-size: 9.6rem;
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
}

.hero-title span:nth-child(2) {
  color: #e64980;
  font-size: 9.6rem;
}

.hero-subtitle {
  font-family: "Poppins", sans-serif;
  text-wrap: nowrap;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 8rem;
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10rem;
  overflow: hidden;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
  padding-right: 2.4rem;

  z-index: 15; /* Ensure the search bar is above the overlay */
}

.search-field {
  cursor: pointer;

  flex: 1;
  padding: 2rem 2.4rem;
  padding-left: 3.2rem;
  border-radius: 10rem;

  position: relative;
  transition: all 0.15s;

  z-index: 15; /* Ensure the search bar is above the overlay */
}

.search-field label::after {
  content: "";
  position: absolute;
  width: 0.02rem;
  height: 70%;
  background-color: #bbb;
  right: 0;
  bottom: 1.4rem;

  z-index: 15;
}

.search-field:last-child {
  border-right: none;
}

.search-field label {
  cursor: pointer;

  display: flex;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #4e4e4e;
  font-size: 1.4rem;
  margin-bottom: 1.4rem;

  z-index: 15; /* Ensure the search bar is above the overlay */
}

.input {
  cursor: pointer;

  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  color: #000;
  background-color: #fff;

  transition: all 0.15s;

  z-index: 15; /* Ensure the search bar is above the overlay */
}

.search-button {
  background-color: #ff004c;
  border: none;
  border-radius: 50%;
  padding: 1.6rem;
  margin-left: 1.5rem;

  cursor: pointer;
  transition: all 0.15s;
  z-index: 15; /* Ensure the button is above the overlay */
}

.search-button ion-icon {
  color: #fff;
  width: 2.4rem;
  height: 2.4rem;
}

.search-button:hover {
  background-color: #d6336c;
}

.sumnbit-searchbar-mobile {
  display: none;
}

/* title Interactive Search Bar*/
/* Rest of the search bar when in choose mode handling*/
.search-bar-choose-mode {
  background-color: #d9d9d9;
}

/* Handleing background of the rest the search bar in choose mode */
.input-background-in-choose-mode {
  background-color: #d9d9d9;
}

.search-field:hover .input-background-in-choose-mode {
  background-color: #ccc;
}

.search-background-choosing-mode:hover,
.search-background-choosing-mode:active {
  background-color: #ccc;
}

/* The choosen search field handling */
.choosing-search-field {
  background-color: #fff;
  border-radius: 10rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  transition: all 0.15s;
}

.choosing-search-field:hover {
  background-color: #fff;
  border-radius: 10rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.choosing-input {
  background-color: #fff;
}

.choosing-search-field:hover .choosing-input {
  background-color: #fff;
}

.choosing-input:hover {
  background-color: #fff;
}

/* Remove those classes on "choose" mode */
.input-background-regular-mode,
.search-field-regular-mode {
  transition: all 0.15s;
}

.search-field-regular-mode:hover .input-background-regular-mode {
  background-color: #d9d9d9;
}

.input-background-regular-mode:hover,
.input-background-regular-mode:active,
.search-field-regular-mode:hover,
.search-field-regular-mode:active {
  background-color: #d9d9d9;
}
/*****************************************************************************************/
/* LOGOS SECTION */
/*****************************************************************************************/
.section-logos {
  background-color: #ffdce9;
  padding: 4.2rem 0;
}

.logos-container {
  max-width: 153.6rem;
  width: 90%;
  margin-inline: auto;
  height: 10rem; /* Same as the logo height */
  overflow: hidden;

  position: relative;

  background-image: linear-gradient(#ff004c, #ff004c);
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes logosScrollLeft {
  to {
    left: -30rem;
  }
}

.logos-scroll-left {
  animation-name: logosScrollLeft;
  animation-duration: 80s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.logo {
  width: 20rem;
  height: 10rem;

  position: absolute;
  left: max(calc(20rem * 8), 100%);
}

.logo-img {
  height: 100%;
  width: auto;
}

.delay1 {
  animation-delay: calc(
    var(--logos-hero-seconds) / 8 * (8 - 1) * -1
  ); /* Based on the number of logos and the lap time */
  background-image: url(/landing-page/img/companies/aflac-logo-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20rem 10rem;
}

.delay2 {
  animation-delay: calc(var(--logos-hero-seconds) / 8 * (8 - 2) * -1);
  background-image: url(/landing-page/img/companies/facebook-logo-white-full-transparent.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20rem auto;
}

.delay3 {
  animation-delay: calc(var(--logos-hero-seconds) / 8 * (8 - 3) * -1);
  background-image: url(/landing-page/img/companies/fender-logo-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20rem 10rem;
}

.delay4 {
  animation-delay: calc(var(--logos-hero-seconds) / 8 * (8 - 4) * -1);
  background-image: url(/landing-page/img/companies/google-white-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20rem auto;
}

.delay5 {
  animation-delay: calc(var(--logos-hero-seconds) / 8 * (8 - 5) * -1);
  background-image: url(/landing-page/img/companies/samsung-logo-white.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20rem auto;
}
.delay6 {
  animation-delay: calc(var(--logos-hero-seconds) / 8 * (8 - 6) * -1);
  background-image: url(/landing-page/img/companies/pngimg.com\ -\ adidas_PNG2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20rem auto;
}

.delay7 {
  animation-delay: calc(var(--logos-hero-seconds) / 8 * (8 - 7) * -1);
  background-image: url(/landing-page/img/companies/tcs-logo-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20rem 10rem;
}

.delay8 {
  animation-delay: calc(var(--logos-hero-seconds) / 8 * (8 - 8) * -1);
  background-image: url(/landing-page/img/companies/vimeo-logo-white-01.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20rem 10rem;
}

/*****************************************************************************************/
/* FEATURED HOTELS SECTION */
/*****************************************************************************************/
