/*****************************************************************************************/
/* NAV SECTION */
/*****************************************************************************************/
.navbar {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.4rem;
  padding: 1.8rem 12.8rem;
  background-color: #fff;
  color: var(--gray-primary-);
  width: 100svw;
  top: 0;
  z-index: 5;
  border-bottom: 1px solid var(--gray-border-);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  color: var(--pink-dark-);
  font: var(--weight-bold-) 2.4rem var(--font-logo-), sans-serif;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  white-space: nowrap;
  padding: 1.6rem 2.4rem;
  border-radius: 10rem;
  transition: var(--transition-fast-);
}

.navbar-logo span {
  font-family: var(--font-titleE-);
  color: var(--pink-primary-);
}

.logo-img-lookuphotel {
  width: 3rem;
  height: auto;
}

.navbar-logo:hover {
  background-color: var(--pink-white-);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  list-style: none;
}

.nav-link {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.6rem;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.8rem;
  padding: 1.8rem 2rem;
  border-radius: 10rem;
  transition: var(--transition-fast-);
}

.nav-link:hover,
.nav-link:active {
  color: var(--gray-black-);
  background-color: var(--pink-white-);
}

/* The "choosing" page: */
.home-link {
  color: var(--gray-black-);
  background-color: var(--pink-white-);
}

/* title User Inter */
.user-inter {
  display: grid;
  grid: 1fr / 1fr auto;
  column-gap: 2.4rem;
  align-items: center;
  justify-content: center;
  max-width: min-content;
  justify-self: flex-end;
}

/* Langauge Popup */
.lan-popup-section {
  position: relative;
}

.globe-lan-icon {
  font-size: var(--icon-big-);
  transition: var(--transition-fast-);
  cursor: pointer;
}

.globe-lan-icon:hover,
.globe-lan-icon:active {
  color: var(--gray-black-);
}

.lan-popup {
  list-style: none;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0 3rem rgb(0, 0, 0, 0.1);

  position: absolute;
  right: 0;
  bottom: -1.45rem;
  transform: translateY(100%);
  z-index: 15;
}

.lan-popup li {
  font: var(--weight-light-) 2rem var(--font-anchors-);
  padding: 1.2rem 3.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  cursor: pointer;

  transition: var(--transition-fast-);
}

.lan-popup li:hover,
.lan-popup li:active {
  background-color: var(--gray-white-);
  font-weight: var(--weight-normal-);
  color: var(--gray-dark-);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.lan-popup li span {
  width: 2rem;
}

.flag-lan {
  width: var(--icon-default-);
  height: auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

/* Dropdown Login */
.user-login {
  position: relative;
  justify-self: flex-end;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  padding: 0.8rem 2rem;
  border-radius: 10rem;
  border: 1px solid var(--gray-border-);

  cursor: pointer;
  transition: var(--transition-fast-) ease-in-out;
  z-index: 15;
}

.user-login:hover {
  color: var(--gray-dark-);
  background-color: var(--gray-white-);
}

.user-login-icon {
  width: var(--icon-big-);
  height: var(--icon-big-);
}

.user-login-dropdown {
  position: absolute;
  right: 0;
  bottom: -1rem;
  transform: translateY(100%);

  list-style: none;
  background-color: #fff;
  box-shadow: 0 0 3rem rgb(0, 0, 0, 0.1);
  padding: 0.8rem 0;
  border-radius: 1rem;
  width: 20rem;
  overflow: hidden;

  z-index: 15;
}

.user-login-dropdown a {
  display: block;
  font-size: 1.8rem;
  padding: 1.4rem 2rem;
  text-wrap: nowrap;

  transition: var(--transition-fast-) ease-in;
  position: relative;
}

.user-login-dropdown li:last-child {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.8rem;
  transition: var(--transition-fast-) ease-in;
  position: relative;
}

.dropdown-link:hover,
.dropdown-link:active {
  background-color: var(--gray-white-);
  font-weight: var(--weight-normal-);
  border-left: 1rem solid var(--gray-border-);
}

.social-icon {
  font-size: var(--icon-default-);
}

.dropdown-social:link,
.dropdown-social:visited {
  transition: var(--transition-fast-);
}

.dropdown-social:hover,
.dropdown-social:active {
  background-color: var(--gray-white-);
  color: var(--gray-black-);
  border-radius: 1rem;
}

.user-login-dropdown::after {
  content: "";
  position: absolute;
  top: 33%;

  width: 100%;
  padding: 0.1rem 0;
  background-color: var(--gray-border-);
}

.sign-in-dropdown:link,
.sign-in-dropdown:visited {
  font-weight: var(--weight-normal-);
  color: var(--gray-black-);
  background-color: var(--pink-light-);
}

.sign-in-dropdown:hover,
.sign-in-dropdown:active {
  border-left: 1rem solid var(--gray-black-);
  background-color: var(--pink-primary-);
}

/* Menu Mobile */
.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.icon-mobile-menu {
  font-size: 4.4rem;
  color: var(--gray-dark-);

  transition: var(--transition-fast-);
  display: none;
}

.icon-mobile-menu:hover,
.icon-mobile-menu:active {
  color: var(--gray-black-);
}

.open-mobile-menu {
  cursor: pointer;
}

.close-mobile-menu {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*****************************************************************************************/
/* HERO SECTION */
/*****************************************************************************************/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;

  /* Background Image */
  background: url("/landing-page/img/hero-background.jpg") center/cover
    no-repeat;

  min-height: 85svh;
  color: #fff;
  text-align: center;
  padding: 0 2rem;
  position: relative;
}

/* Bluring */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5rem);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  width: 90rem; /* Determines the hero width */
  max-width: 95svw; /* Determines the hero width */
}

.hero-title {
  font-family: var(--font-titleE-), serif;
  font-weight: var(--weight-light-);
  font-size: 8.6rem;
  color: #fff;
  margin-bottom: 1.2rem;
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  line-height: 1.2;
}

.lookup-title {
  color: var(--pink-dark-);
  font-family: var(--font-logo-), sans-serif;
  font-weight: var(--weight-bold-);
  font-size: 9.6rem;
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
}

.hotel-title {
  color: var(--pink-primary-);
  font-size: 9.6rem;
}

.scrollRightAnimationLogo {
  animation: scrollAnimationRightLogo both;
  animation-timeline: view();
}

.scrollLeftAnimationLogo {
  animation: scrollAnimationLeftLogo both;
  animation-timeline: view();
}

.hero-subtitle {
  white-space: nowrap;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 8rem;
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  border: 1px solid var(--gray-border-);
  border-radius: 10rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
  padding-right: 2.4rem;

  position: relative;
  z-index: 15;
}

.search-field {
  cursor: pointer;
  flex: 1;
  padding: 2rem 3.2rem 2rem 2.4rem;
  border-radius: 10rem;

  position: relative;
  transition: var(--transition-fast-);

  z-index: 15;
}

.search-field label::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 1.4rem;

  width: 0.02rem;
  height: 70%;
  background-color: var(--gray-light-);

  z-index: 15;
}

.search-field:last-child {
  border-right: none;
}

.search-field label {
  cursor: pointer;
  display: flex;
  font-weight: var(--weight-normal-);
  color: var(--gray-dark-);
  font-size: 1.4rem;
  margin-bottom: 1.4rem;

  z-index: 15;
}

.input {
  cursor: pointer;
  font-family: var(--font-anchors-), sans-serif;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.6rem;
  background-color: #fff;

  transition: var(--transition-fast-);

  z-index: 15;
}

.search-button {
  background-color: var(--pink-bright-);
  border: none;
  border-radius: 100%;
  padding: 1.6rem;
  margin-left: 1.5rem;

  cursor: pointer;
  transition: var(--transition-fast-);
  z-index: 15;
}

.search-button ion-icon {
  color: #fff;
  font-size: var(--icon-default-);
  --ionicon-stroke-width: 5rem;
}

.search-button:hover {
  background-color: var(--pink-primary-);
  font-size: var(--icon-big-);
}

.sumnbit-searchbar-mobile {
  display: none;
}

/* title Interactive Search Bar*/
/* Rest of the search bar when in choose mode handling*/
.search-bar-choose-mode {
  background-color: #d9d9d9;
}

/* Handleing background of the rest the search bar in choose mode */
.input-background-in-choose-mode {
  background-color: #d9d9d9;
}

.search-field:hover .input-background-in-choose-mode {
  background-color: #ccc;
}

.search-background-choosing-mode:hover,
.search-background-choosing-mode:active {
  background-color: #ccc;
}

/* The choosen search field handling */
.choosing-search-field {
  background-color: #fff;
  border-radius: 10rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  transition: all 0.15s;
}

.choosing-search-field:hover {
  background-color: #fff;
  border-radius: 10rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.choosing-input {
  background-color: #fff;
}

.choosing-search-field:hover .choosing-input {
  background-color: #fff;
}

.choosing-input:hover {
  background-color: #fff;
}

/* Remove those classes on "choose" mode */
.input-background-regular-mode,
.search-field-regular-mode {
  transition: all 0.15s;
}

.search-field-regular-mode:hover .input-background-regular-mode {
  background-color: #d9d9d9;
}

.input-background-regular-mode:hover,
.input-background-regular-mode:active,
.search-field-regular-mode:hover,
.search-field-regular-mode:active {
  background-color: #d9d9d9;
}
/*****************************************************************************************/
/* LOGOS SECTION */
/*****************************************************************************************/
.section-logos {
  background-color: var(--pink-light-);
  padding: 2.4rem 0;
}

.logos-container {
  max-width: 153.6rem;
  width: 90%;
  margin-inline: auto;
  height: 6rem; /* Same as the logo height */
  overflow: hidden;

  position: relative;

  background-image: linear-gradient(var(--pink-bright-), var(--pink-bright-));
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.logos-scroll-left {
  animation: logosScrollLeft 80s linear infinite;
}

.logo:link,
.logo:visited {
  width: 12rem;
  height: 6rem;

  position: absolute;
  left: max(calc(20rem * 8), 100%);

  transition: var(--transition-fast-);
}

.logo:hover,
.logo:active {
  background-color: var(--pink-dark-);
  background-size: 105%;
  border-radius: 1rem;
}

.delay1 {
  animation-delay: calc(
    var(--logos-hero-seconds) / 8 * (8 - 1) * -1
  ); /* Based on the number of logos and the lap time */
  background: url(/landing-page/img/companies/aflac-logo-white.svg) center/100%
    no-repeat;
}

.delay2 {
  animation-delay: calc(var(--logos-hero-seconds) / 8 * (8 - 2) * -1);
  background-image: url(/landing-page/img/companies/facebook-logo-white-full-transparent.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.delay3 {
  animation-delay: calc(var(--logos-hero-seconds) / 8 * (8 - 3) * -1);
  background-image: url(/landing-page/img/companies/fender-logo-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.delay4 {
  animation-delay: calc(var(--logos-hero-seconds) / 8 * (8 - 4) * -1);
  background-image: url(/landing-page/img/companies/google-white-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.delay5 {
  animation-delay: calc(var(--logos-hero-seconds) / 8 * (8 - 5) * -1);
  background-image: url(/landing-page/img/companies/samsung-logo-white.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.delay6 {
  animation-delay: calc(var(--logos-hero-seconds) / 8 * (8 - 6) * -1);
  background-image: url(/landing-page/img/companies/pngimg.com\ -\ adidas_PNG2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.delay7 {
  animation-delay: calc(var(--logos-hero-seconds) / 8 * (8 - 7) * -1);
  background-image: url(/landing-page/img/companies/tcs-logo-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20rem 10rem;
  background-size: 100%;
}

.delay8 {
  animation-delay: calc(var(--logos-hero-seconds) / 8 * (8 - 8) * -1);
  background-image: url(/landing-page/img/companies/vimeo-logo-white-01.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20rem 10rem;
  background-size: 100%;
}

.header-logos {
  font: var(--weight-light-) 3.2rem var(--font-logo-);
  letter-spacing: -0.1rem;
  color: var(--pink-bright-);
}

.sub-header-logos {
  font-size: 1.8rem;
  color: var(--pink-bright-);
}

/*****************************************************************************************/
/* FEATURED HOTELS SECTION */
/*****************************************************************************************/
.section-featured-hotels {
}

.cards-warpper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  gap: 1.6rem;
}

/* Hotel Card */
.hotel-card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.6rem;

  min-width: 26rem;
  max-width: 26rem;
  color: var(--gray-dark-);
}

.hotel-card:hover .icon-details {
  opacity: 1;
  cursor: pointer;
}

.hotel-img-block {
  position: relative;
  width: 100%;
  height: 24rem;

  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 1rem rgb(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.hotel-img-highW {
  height: 100%;
  width: auto;
}

.hotel-img-highH {
  height: auto;
  width: 100%;
}

.favorite-label {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;

  font: var(--weight-normal-) 1.4rem var(--font-title-);
  color: var(--gray-black-);
  padding: 0.5rem 1rem;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 10rem;
  box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);
}

.heart-icon {
  font-size: var(--icon-big-);
}

.add-to-favorite-icon {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;

  color: #fff;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  padding: 0.6rem;
  --ionicon-stroke-width: 5rem;

  transition: var(--transition-fast-) ease-in-out;
}

.add-to-favorite-icon:hover {
  font-size: 2.3rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.view-details-btn:has(ion-icon) {
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-details {
  font-size: var(--icon-small-);
  color: var(--gray-dark-);
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 100%;
  padding: 0.4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  opacity: 0;

  transition: var(--transition-normal-);
}

.name-rating {
  display: flex;
  justify-content: space-between;
  color: #000;
}

.hotel-name {
  font-weight: var(--weight-normal-);
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.rating-star-icon {
}

.hotel-location {
}

.hotel-suggested-dates {
}

.hotel-price {
  color: #000;
}

.hotel-price mark {
  font-weight: var(--weight-normal-);
}

/*****************************************************************************************/
/* GALLERY SECTION */
/*****************************************************************************************/
.section-gallery {
  background-color: var(--pink-white-);
}

.galleries-container {
}

.gallery-wrapper {
  margin-bottom: 9.6rem;
}

.gallery-wrapper header {
  display: flex;
  align-items: center;
  gap: 4.8rem;

  margin-bottom: 1.6rem;
}

.gallery-headers {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  font-family: var(--font-logo-);
  white-space: nowrap;
}

.gallery-location {
  color: var(--pink-dark-);
  font: var(--weight-normal-) 3.6rem var(--font-logo-);
}

.gallery-title {
  color: var(--pink-bright-);
  font: var(--weight-light-) 2.4rem var(--font-logo-);
}

/* title Button Handling */
.gallery-explore-more {
  width: 4.4rem;
  min-height: 5.2rem;
  align-self: flex-end;
  overflow: hidden;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  white-space: nowrap;
  padding: 0.4rem 2rem 0.4rem 0.6rem;
  border-radius: 100%;

  color: var(--pink-primary-);
  cursor: pointer;
}

.gallery-explore-more:hover {
  animation: expandWidth 0.25s ease-in-out both;
  background-color: var(--pink-light-);
}

.gallery-explore-more:not(:hover) {
  animation: collapseWidth 0.25s ease-in-out both;
}

.gallery-explore-more:active {
  /* todo make a active habdling */
}

.icon-explore-more {
  font-size: 3rem;
  flex-shrink: 0;

  transition: var(--transition-slow-) ease-in-out;
}

.exposed-content {
  font: var(--weight-normal-) 2rem var(--font-anchors-);
  display: none;
  opacity: 0;
  transition: var(--transition-normal-);
}

.gallery-explore-more:hover .exposed-content {
  display: block;
  opacity: 1;
  animation: btnExploreMore 0.25s ease-in both;
}

.gallery-explore-more:hover .icon-explore-more {
  font-size: 4rem;
}

/* title Images Handling */
.gallery-images {
  columns: 40rem;
}

.column {
  /* todo not in the html yet */
  display: flex;
  flex-direction: column;
}

.image-conatiner {
  /* todo not in the html yet */
  position: relative;
}

.gallery-img {
  border-radius: 8rem;
  margin: 0 auto 2.4rem auto;
  display: block;
  width: 80%;

  transition: var(--transition-normal-);
  cursor: pointer;

  overflow: hidden;
  /* animation: imagesUp;
  animation-timeline: view(); */
}

.gallery-img:hover {
  border-radius: 12rem;
  transform: scale(1.02);
}

.gallery-img:active {
  transform: scale(1.05);
}

.img-overlay {
  /* todo not in the html yet */
  position: absolute;
  background-color: red;
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;
}
